# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files
*.php text
*.json text
*.xml text
*.txt text
*.md text
*.neon text
*.dist text

# Denote all files that should definitely be treated as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mo binary
