<?xml version="1.0"?>
<ruleset name="AI Provider for fal.ai">
    <description>PHP_CodeSniffer ruleset for the AI Provider for fal.ai.</description>

    <file>.</file>

    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/node_modules/*</exclude-pattern>

    <arg name="extensions" value="php"/>
    <arg name="colors"/>
    <arg name="cache" value=".phpcs-cache.json"/>
    <arg value="sp"/>

    <config name="testVersion" value="7.4-"/>

    <rule ref="PHPCompatibility"/>
    <rule ref="SlevomatCodingStandard">
        <exclude name="SlevomatCodingStandard.Namespaces.FullyQualifiedClassNameInAnnotation"/>
        <exclude name="SlevomatCodingStandard.PHP.RequireExplicitAssertion"/>
        <exclude name="SlevomatCodingStandard.Files.LineLength.LineTooLong"/>
        <exclude name="SlevomatCodingStandard.TypeHints.DeclareStrictTypes.IncorrectStrictTypesFormat"/>
        <exclude name="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingNativeTypeHint"/>
        <exclude name="SlevomatCodingStandard.Classes.ClassStructure.Unordered"/>
    </rule>

    <rule ref="SlevomatCodingStandard.Namespaces.AlphabeticallySortedUses">
        <properties>
            <property name="psr12Compatible" value="true"/>
        </properties>
    </rule>
</ruleset>
